name: CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main


jobs:
  test-updaters:

    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements_dev.txt ]; then pip install -r requirements_dev.txt; fi
          pip install pytest
      - name: Test with pytest
        run: |
          pytest -v
